<div class="container" ng-controller="home as vm">

    <div class="starter-template">
        <!--<h1>Welcome to SiqCloset</h1>-->

        <p class="lead">
            {{vm.welcomeText}}
        </p>

        <!--<p class="lead">-->
            <!--<div ng-hide="vm.isLoggedIn">-->
                <!--<a href="#" ng-click="vm.login()">-->
                    <!--<img src="../../images/login.png">-->
                <!--</a>-->
            <!--</div>-->
        <!--</p>-->

        <!--<div class="row">-->
            <!--<div class="col-sm-3" ng-show="vm.isLoggedIn">-->
                <!--<a href="#" ng-click="vm.logout()"><img src="../../images/logout.png"></a>-->
            <!--</div>-->
            <!--<div class="col-sm-3" ng-repeat="module in vm.modules | filter: vm.moduleFilter">-->
                <!--<a href="#" ui-sref={{module.state.name}}>-->
                    <!--<img ng-src="../../images/{{module.iconPath}}">-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->

        <!--<p class="lead">-->
            <!--<div ng-hide="vm.isLoggedIn">-->
                <!--<a class="btn btn-primary" ng-click="vm.login()">Login</a>-->
            <!--</div>-->

            <!--<div ng-show="vm.isLoggedIn">-->
                <!--<a class="btn btn-primary" ng-click="vm.logout()">Logout</a>-->
            <!--</div>-->
        <!--</p>-->

    </div>

</div>